.Player {
  padding: 15px 30px;
  border: 1px solid #161616;
}

.Player__name {
  padding: 0 5px;
}

.Player__score {
  padding-right: 5px;
}

.Player__button {
padding: 0 5px;
}

.Player__button:hover {
  cursor: pointer;
}